.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ffc288;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #ff6701;
}

p {
  font-size: 2rem;
  color: #ff6701;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.rollb{
  margin-top: 10%;
  padding: 0.25% 6%;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #ff6701;
  background-color: #fea82f;

}
.rollb:hover{
  background-color: #ffd56b;
  color:#ff6701;
}
